.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  gap: 2rem;
  align-items: center;
  min-height: 100vh;
}
.questions{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.question{
  color: black;
  border: 2px solid black;
  width: 70px;
  height: 70px;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.question:hover{
  background: lightblue;
  border-color: lightblue;
}

.checked{
  background: #9f9f9f;
  border-color: #9f9f9f;
  color: white;
}